# Required
BOT_TOKEN = "6934514903:AAHLVkYqPEwyIZiyqEhJocOrjDYwTk9ue8Y"
API_HASH = "558df3cdc4820fd2de0950656e8112f3"
API_ID = "25582726"
AUTH_CHATS = "" # Separate multiple ids by space and : for topic_ids

# Optional
AUTO_BYPASS = ""
OWNER_ID = "" # For personal use & Logs
LARAVEL_SESSION = ""
XSRF_TOKEN = ""
GDTOT_CRYPT = ""
HUBDRIVE_CRYPT = ""
DRIVEFIRE_CRYPT = ""
KATDRIVE_CRYPT = ""
DIRECT_INDEX = ""
TERA_COOKIE = ""

# Update
UPSTREAM_REPO = "https://github.com/Hskcodes/FZBypassBothsk"
UPSTREAM_BRANCH = "main"
